<div class="filterHeader" style="">
    <div class="form-check form-check-inline">
         <input type="checkbox" class="form-check-input filterCheckbox" value="Sociável com animais">
        <label class="form-check-label" for="inlineCheckbox1">Sociável com animais</label>
    </div>

    <div class="form-check form-check-inline">
         <input type="checkbox" class="form-check-input filterCheckbox" value="Sociável com criança">
        <label class="form-check-label" for="inlineCheckbox1">Sociável com criança</label>
    </div>

    <div class="form-check form-check-inline">
         <input type="checkbox" class="form-check-input filterCheckbox" value="Dócil">
        <label class="form-check-label" for="inlineCheckbox1">Dócil</label>
    </div>

    <div class="form-check form-check-inline">
         <input type="checkbox" class="form-check-input filterCheckbox" value="Inseguro">
        <label class="form-check-label" for="inlineCheckbox1">Inseguro</label>
    </div>

    <div class="form-check form-check-inline">
         <input type="checkbox" class="form-check-input filterCheckbox" value="Dominante">
        <label class="form-check-label" for="inlineCheckbox1">Dominante</label>
    </div>

    <div class="form-check">
        <input type="checkbox" class="form-check-input filterCheckbox" value="Alta energia">
        <label class="form-check-label" for="inlineCheckbox1">Alta energia</label>
    </div>

    <div class="form-check form-check-inline">
         <input type="checkbox" class="form-check-input filterCheckbox" value="Baixa energia">
        <label class="form-check-label" for="inlineCheckbox1">Baixa energia</label>
    </div>

    <div class="form-check form-check-inline">
         <input type="checkbox" class="form-check-input filterCheckbox" value="Condicionado">
        <label class="form-check-label" for="inlineCheckbox1">Condicionado</label>
    </div>

    <div class="form-check form-check-inline">
         <input type="checkbox" class="form-check-input filterCheckbox" value="Não Condicionado">
        <label class="form-check-label" for="inlineCheckbox1">Não Condicionado</label>
    </div>

    <div class="form-check form-check-inline">
         <input type="checkbox" class="form-check-input filterCheckbox" value="Fugitivo">
        <label class="form-check-label" for="inlineCheckbox1">Fugitivo</label>
    </div>

     <div class="form-check form-check-inline">
         <input type="checkbox" class="form-check-input filterCheckbox" value="Condições especiais">
        <label class="form-check-label" for="inlineCheckbox1">Condições especiais</label>
    </div>



    <div class="filterBtn" style="text-align: center; margin-top: 10px;">
        {# <button class="btn btn-success ml-6" >Filtrar</button> #}
    </div> 
</div>